@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = "/Views/Shared/_LayoutMain.cshtml";

    <link rel="stylesheet" href="/css/HomePage.css" />
}

<section class="welcome-section">
    <img>@Model.Value("backgroundImage")</img>
    <h1 class="MainTitle">@Model.Value("welcomeTitle")</h1>
    <p>@Model.Value("welcomeText")</p>

    @{
        var image = Model.Value<IPublishedContent>("image");
    }

    @if (image != null)
    {
        <img src="@image.Url()" alt="@image.Name" />
    }
</section>

@* School Mission & School Vision *@
<section class="schoolm-schoolv">

</section>