@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = null; 
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@Model.Value("pageTitle")</title>
    <link rel="stylesheet" href="css/styles.css" />
</head>
<body>
    <h1>@Model.Value("pageTitle")</h1>
    
    <div>
        @Html.Raw(Model.Value("bodyText"))
    </div>



    <footer>
        <p>&copy; @DateTime.Now.Year - My Awesome Site</p>
    </footer>


    <footer>
        @Model.Value("footerText")
    </footer>


</body>
</html>
