@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "/Views/Shared/_LayoutMain.cshtml";
}

<section class="pchelp-hero">
	<div class="pchelp-hero-content">
		<h1>@Model.Value("welcomeTitle")</h1>
		<p>@Model.Value("welcomeText")</p>
	</div>

	<div class="pchelp-carousel">
		@{
			var images = Model.Value<IEnumerable<IPublishedContent>>("carouselImages");
			if (images != null)
			{
				var index = 0;
				foreach (var image in images)
				{
					<img src="@image.Url()" alt="@image.Name" class="carousel-slide @(index == 0 ? "active" : "")" />
					index++;
				}
			}
		}
	</div>
</section>

<section class="pch-services">
	<h2 class="services-header">Hvad kan vi hjælpe dig med?</h2>
	<div class="services-grid">
		<!-- Card 1 -->
		<div class="service-box">
			<h3>
				<img src="@Url.Content("~/assets/icons/wifi.svg")" alt="Internetforbindelse" class="service-icon" />
				@Model.Value("serviceTitle")
			</h3>
			<p>@Model.Value("servicesText")</p>
		</div>

		<!-- Card 2 -->
		<div class="service-box">
			<h3>
				<img src="@Url.Content("~/assets/icons/globe.svg")" alt="Internetforbindelse" class="service-icon" />
				@Model.Value("serviceTitle2")
			</h3>
			<p>@Model.Value("servicesText2")</p>
		</div>

		<!-- Card 3 -->
		<div class="service-box">
			<h3>
				<img src="@Url.Content("~/assets/icons/printer.svg")" alt="Printere" class="service-icon" />
				@Model.Value("serviceTitle3")
			</h3>
			<p>@Model.Value("servicesText3")</p>
		</div>

		<!-- Card 4 -->
		<div class="service-box">
			<h3>
				<img src="@Url.Content("~/assets/icons/troubleshoot.svg")" alt="Fejlfinding" class="service-icon" />
				@Model.Value("serviceTitle4")
			</h3>
			<p>@Model.Value("servicesText4")</p>
		</div>
	</div>
</section>
